.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;
}
.service-title-container {
  display: flex;
  justify-content: space-between;
}
.services-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.services-arrow {
  padding: 1rem 3rem 0 0;
}

.services-content {
  padding: 0 0 1rem 0;
}
